
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100vw;
    height: 100vh;
    overflow: hidden;
}

#home .page {
  background-image:url(http://api.thumbr.it/whitenoise-400x400.png?background=26282900&noise=848e8f&density=43&opacity=15);
  background-repeat:repeat;
  background-size: 400px;
  width:100%;
  height:100vh;
  margin:0;
  top:0;
  left:0;
  background-attachment: fixed;
}


#home .header {
width:100vw;
height:100vh;
top:0;
right:0;
left:0;
background:transparent;
display:none;
box-shadow:none;
}

#home .main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background:transparent;
    top:0;
}


/*----------[ Media Queries ]-------------*/

/*---------[ most devices ]----------*/

@media screen and (min-width: 481px) {

  .main {
    width: 100vw;
    margin: 0;
    margin-bottom: 60px;
  }
}

.bg--lined-thin {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    opacity: 0.4;
    z-index:5;
display:block;
    will-change: opacity;
    -webkit-animation: noise 3s linear infinite 0.1s;
    animation: noise 3s linear infinite 0.1s;
}
.bg--lined-thin:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 50%, rgba(100, 100, 100, 0.4) 51%);
    background-size: 100% 4px;
    will-change: background, background-size;
    -webkit-animation: scanlines .3s linear infinite;
    animation: scanlines .3s linear infinite;
}
.letters {
    width: 400px;
    height: 400px;
    opacity:0.8;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-100px;
    position: fixed;
}
.letter {
    position:absolute;
    font-weight: lighter;
    -webkit-animation: circleAround 10s infinite linear;
    -moz-animation: circleAround 10s infinite linear;
    animation: circleAround 10s infinite linear;
    mix-blend-mode: screen;
}
.letter--blue {
    font-size: 8vh;
    color: #1f708d;
    margin:30px;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}
.letter--green {
    font-size: 12vh;
    color: #69912b;
    margin-left:100px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.letter--red {
    font-size: 10vh;
    color: #bc482f;
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    animation-delay: -4s;
}

.fx--scrumbled {
    height: 30px;
    width: 80vw;
    left:50%;
    margin-left:-40vw;
    top:60vh;
    position:absolute;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:all 1s ease;
    z-index:30;
}
.fx--scrumbled .scrumble {
    color: #084055;
    background:#111416;
}
.fx--scrumbled .text {
    font-weight: 300;
    font-size: 1.2rem;
    font-family:monospace;
    text-transform:uppercase;
    color: #246e88;
}

.fx-text-flicker-blue {
display:flex;
justify-content: space-evenly;
width:200px;
}

.fx-text-flicker-blue span {
font-size:6rem;
letter-spacing: 4px;
color:#111;

}
.fx-text-flicker-blue span:nth-child(odd) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear infinite;
	animation: flicker-blue 10s linear infinite;
}

.fx-text-flicker-blue span:nth-child(even) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear 3s infinite;
	animation: flicker-blue 10s linear 3s infinite;
}

@-webkit-keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.98),
			1px -1px 0 rgba(255, 255, 255, 0.98), -1px 1px 0 rgba(255, 255, 255, 0.98),
			1px 1px 0 rgba(255, 255, 255, 0.98), 0 -2px 8px, 0 0 2px, 0 0 5px #03d1ec,
			0 0 15px #03d1ec, 0 0 2px #03d1ec, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}

@keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 0.8;
    color:#fff;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
			1px -1px 0 rgba(255, 255, 255, 1), -1px 1px 0 rgba(255, 255, 255, 0.5),
			1px 1px 0 rgba(255, 255, 255, 1), 0 -2px 8px, 0 0 2px, 0 0 5px #03d1ec,
			0 0 15px #03d1ec, 0 0 2px #03d1ec, 0 2px 3px #000;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:#111;
	}
}




@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 4px);
  }
  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(3px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg, 0deg);
  }

	40.2% {
	opacity:1;

	}

	40.4% {
	opacity:0;

	}

	 48% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
	50% {
    transform: skew(-6deg, 0deg);
    filter: blur(4px);
  }
  52% {
    transform: skew(8deg, 0deg);
  }
  54% {
    transform: skew(0deg, 0deg);
    filter: blur(0);
  }
	59.8% {
			opacity:0.4;

	}
	60.2% {
	opacity:1;

	}

	60.3% {
	opacity:0;

	}
	60.6% {
	opacity:1;

	}

	60.8% {
	opacity:0;

	}
	61.2% {
	opacity:1;

	}

	62% {
	opacity:0;

	}
	62.2% {
	opacity:1;

	}


  100% {
    transform: skew(0deg, 0deg);
  }
}


@-webkit-keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 50%, black 51%);
        background-size: 100% 4px;
   }
    to {
        background: linear-gradient(to bottom, black 50%, transparent 51%);
        background-size: 100% 4px;
   }
}
@keyframes scanlines {
    from {
        background: linear-gradient(to bottom, transparent 50%, black 51%);
        background-size: 100% 4px;
   }
    to {
        background: linear-gradient(to bottom, black 50%, transparent 51%);
        background-size: 100% 4px;
   }
}
@-webkit-keyframes circleAround {
    0% {
        -webkit-transform: rotate(0deg) translate(-5px) rotate(0deg);
        transform: rotate(0deg) translate(-5px) rotate(0deg);
   }
    100% {
        -webkit-transform: rotate(360deg) translate(-5px) rotate(-360deg);
        transform: rotate(360deg) translate(-5px) rotate(-360deg);
   }
}
@keyframes circleAround {
    0% {
        -webkit-transform: rotate(0deg) translate(20px) rotate(360deg);
        transform: rotate(0deg) translate(20px) rotate(360deg);
   }
    100% {
        -webkit-transform: rotate(360deg) translate(20px) rotate(-360deg);
        transform: rotate(360deg) translate(20px) rotate(-360deg);
   }
}
