@import url("https://cdn.jsdelivr.net/npm/boxicons@2.0.1/css/boxicons.min.css");

/*--------------------------------------------------*/
/*--------------[ custom colors ]-------------------*/
/*--------------------------------------------------*/

:root {
  --red-darkest: #3b0d0c;
  --red-darker: #621b18;
  --red-dark: #cc1f1a;
  --red: #e3342f;
  --red-light: #ef5753;
  --red-lighter: #f9acaa;
  --red-lightest: #fcebea;

  --orange-darkest: #462a16;
  --orange-darker: #613b1f;
  --orange-dark: #de751f;
  --orange: #f6993f;
  --orange-light: #faad63;
  --orange-lighter: #fcd9b6;
  --orange-lightest: #fff5eb;

  --yellow-darkest: #453411;
  --yellow-darker: #684f1d;
  --yellow-dark: #f2d024;
  --yellow: #ffed4a;
  --yellow-light: #fff382;
  --yellow-lighter: #fff9c2;
  --yellow-lightest: #fcfbeb;

  --green-darkest: #0f2f21;
  --green-darker: #1a4731;
  --green-dark: #1f9d55;
  --green: #38c172;
  --green-light: #51d88a;
  --green-lighter: #a2f5bf;
  --green-lightest: #e3fcec;

  --teal-darkest: #0d3331;
  --teal-darker: #20504f;
  --teal-dark: #38a89d;
  --teal: #4dc0b5;
  --teal-light: #64d5ca;
  --teal-lighter: #a0f0ed;
  --teal-lightest: #e8fffe;

  --blue-darkest: #005b65;
  --blue-darker: #2b737d;
  --blue-dark: #2095a5;
  --blue: #40aab7;
  --blue-light: #6cdaeb;
  --blue-lighter: #bceefa;
  --blue-lightest: #eff8ff;

	--dgray1: #111416;
  --dgray2: #16191b;
  --dgray3: #1c1f21;
  --dgray4: #212426;
  --dgray5: #26292b;
  --dgray6: #2c2f31;
  --dgray7: #313436;
  --dgray8: #36393b;
  --dgray9: #3c3f41;

  --mgray1: #616466;
  --mgray2: #66696b;
  --mgray3: #6c6f71;
  --mgray4: #717476;
  --mgray5: #76797b;
  --mgray6: #7c7f81;
  --mgray7: #818486;
  --mgray8: #86898b;
  --mgray9: #8c8f91;

  --lgray1: #d1d4d6;
  --lgray2: #d6d9db;
  --lgray3: #dcdfe1;
  --lgray4: #e1e4e6;
  --lgray5: #e6e9eb;
  --lgray6: #eceff1;
  --lgray7: #f1f4f6;
  --lgray8: #f6f9fb;
  --lgray9: #fcffff;

  --primary-color: #111;
 --secondary-color: #222;
 --font-color: #333;
 --bg-color: #fff;
 --heading-color: #111;

	--product-sans: "product sans", sans-serif;
	--graphik: "graphik", sans-serif;
	--manrope: "manrope", sans-serif;
	--sofiapro: "sofia pro", sans-serif;
	--gilroy: "gilroy", sans-serif;
}

[data-theme="dark"] {
  --primary-color: #111;
  --secondary-color: #111;
  --font-color: #111;
  --bg-color: #111;
  --heading-color: #111;
}


/*--------------------------------------------------*/
/*------------[     basic styles      ]-------------*/
/*--------------------------------------------------*/


*,
*:before,
*:after,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url('https://ahmadmorsy.github.io/img/site/am-cursor-02.svg'), -moz-zoom-in, auto !important;

}

html {
  font-weight: 400;
	font-size:100%;
  font-family: var(--manrope);
  font-style: normal;
/*   transition: all 0.3s cubic-bezier(0.54, 1, 0.5, 1); */
  background-color: var(--dgray1);
  color: var(--mgray9);
  overflow: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
}

.outline {
outline:1px solid red;
}

.vline--dashed {
  height:100%;
  float:left;
  width:1px;
  border-right:2px dashed var(--dgray6);
  /* position:absolute; */
  left:400px;
  z-index:5;

}

a {
	color: #283040;
	text-decoration: none
}

/*
@media only screen and (max-width:640px) {
	h1 {
		font-size: 4.4rem;
		font-family:"Graphik-Regular", sans-serif;
		font-weight: 500;
	}
	p {
		font-size: 2rem;
		font-family:"Graphik-Regular", sans-serif;
		font-weight: 500;
	}
} */


main {
	min-height: 100vh;
	text-align: left;
  width: 100%;
	font-size:1rem;
  font-family:var(--graphik);
	line-height: 1.6;
  /* font-weight:600; */
	color: var(--mgray6);
	/* overflow: hidden; */
}

main .pgtr-main-content {
	position: relative;
	height: calc(100vh - 40px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lgray6);
  font-family: var(--graphik);
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.04rem;
  margin: 20px 0;
  text-transform:capitalize;
  pointer-events: none;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
  color: var(--dgray3);
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 0.98rem;
  color: var(--mgray9);
  text-align: left;
  margin-bottom: 20px;
  pointer-events: none;
}

a:link,
a:visited,
a:hover,
a:active,
a {
  text-decoration: none;
  border: none;
  outline: none;
}

.normal { font-weight: normal; }
.b      { font-weight: bold; }
.fw1    { font-weight: 100; }
.fw2    { font-weight: 200; }
.fw3    { font-weight: 300; }
.fw4    { font-weight: 400; }
.fw5    { font-weight: 500; }
.fw6    { font-weight: 600; }
.fw7    { font-weight: 700; }
.fw8    { font-weight: 800; }
.fw9    { font-weight: 900; }

.w-1-1 { display: 100% }

.w-1-2 { width: 50% }

.w-1-3 { width: 33.33333% }

.w-2-3 { width: 66.66666% }

.w-1-4 { width: 25% }

.w-3-4 { width: 75% }

.w-1-5 { width: 20% }

.w-2-5 { width: 40% }

.w-3-5 { width: 60% }

.w-4-5 { width: 80% }

.w-1-6 { width: 16.656% }

.w-5-6 { width: 83.33% }

.w-1-8 { width: 12.5% }

.w-3-8 { width: 37.5% }

.w-5-8 { width: 62.5% }

.w-7-8 { width: 87.5% }

.w-1-12 { width: 8.3333% }

.w-5-12 { width: 41.6666% }

.w-7-12 { width: 58.3333% }

.w-11-12 { width: 91.6666% }

.w-1-24 { width: 4.1666% }

.w-5-24 { width: 20.8333% }

.w-7-24 { width: 29.1666% }

.w-11-24 { width: 45.8333% }

.w-13-24 { width: 54.1666% }

.w-17-24 { width: 70.8333% }

.w-19-24 { width: 79.1666% }

.w-23-24 { width: 95.8333% }

.vh-100 {
  Height:100vh;
}

.lh1 {
line-height: 1rem;
}

.lh2 {
line-height: 2rem;
}



.dib {display:inline-block;}
.flex-col { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-rev { flex-wrap: wrap-reverse; }
.flex-col-rev { display: flex; flex-direction: column-reverse; }
.flex-row-rev { display: flex; flex-direction: row-reverse; }

.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch { align-self: stretch; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }

.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-stretch { align-content: stretch; }

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }
.flex-shrink-2 { flex-shrink: 2; }
.flex-shrink-3 { flex-shrink: 3; }

.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }
.tj  { text-align: justify; }

body .page {
  width: 100%;
  height: 100vh;
  display:block;
  opacity:1;
  overflow-x: hidden;
  overflow-y: hidden;
  transition:opacity 0.3s;

}


.header {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100vh;
  -webkit-position: fixed;
  -moz-position: fixed;
  -o-position: fixed;
  position: fixed;
  z-index: 1;
  overflow:hidden;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header-img {
  width:100%;
  height:100%;
  overflow: hidden;
  position:fixed;
-webkit-filter:brightness(0.4);
        filter:brightness(0.4);
top:0;
left:0;
right:0;
}


.pgtr-index .header-img {

  background-size:cover;
  background-image:url("https://ahmadmorsy.github.io/img/portfolio/lg/twist-of-events-lg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center top;
  /*! mix-blend-mode: screen; */
  -webkit-filter:brightness(0.2) grayscale(1);
          filter:brightness(0.2) grayscale(1);
  z-index:1;
}

.pgtr-about .header-img {

  background-size:cover;
  background-image:url("https://ahmadmorsy.github.io/img/portfolio/lg/nostalgia-landscape-lg.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center top;
}

.pgtr-work .header-img {

  background-size:cover;
 background-image:url("https://ahmadmorsy.github.io/img/portfolio/lg/organometry-08-lg-landscape.jpg");
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center top;
}

.pgtr-contact .header-img {

  background-size:cover;
background-image:url("../img/portfolio/lg/mood-swing-lg.png");
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center top;
}



.header-title {

  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width:240px;
  height: 100px;
  padding:40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -50px;
  z-index: 1;
  font-family: var(--graphik);
  font-weight: 300;
}
.header-title span {
  position:relative;
  text-align: center;
font-size:3rem;
padding:2px;
/* letter-spacing: 6px; */
z-index:6;

}
.header-title span:nth-child(odd) {
	color: #fff;
	-webkit-animation: flicker 10s linear infinite;
	animation: flicker 10s linear infinite;
}

.header-title span:nth-child(even) {
	color: #fff;
	-webkit-animation: flicker 10s linear 3s infinite;
	animation: flicker 10s linear 3s infinite;
}

@-webkit-keyframes flicker {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8),
			1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8),
			1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #fff,
			0 0 15px #000, 0 0 2px #fff, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}

@keyframes flicker {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
    color:#fff;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8),
      1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8),
      1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #fff,
      0 0 15px #fff, 0 0 2px #fff, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}

.blur-in {
 -webkit-animation: blur-in 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1 both;
         animation: blur-in 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1 both;
}

@-webkit-keyframes blur-in {
  0% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(4px);
            transform: translateZ(4px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes blur-in {
  0% {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(4px);
            transform: translateZ(4px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.bg--lined-thin {
/*     position: absolute; */
/* display:block; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
/*     z-index:2; */
      background-size: 100% 4px;
    background: linear-gradient(to bottom, #00231e33 50%, #001e2566 51%),rgba(110,140,150,0.4);
    background-repeat:repeat-y;
}


main .pgtr-main-content .overscroll-fix {
  width: 100vw;
  height: 51px;
  top: 0;
  left: 0;
  right: 0;
  -webkit-position: fixed;
  -moz-position: fixed;
  -o-position: fixed;
  position: fixed;
    border-bottom:1px solid var(--dgray6);
    z-index: 245;
    opacity:1;
  background: var(--dgray1);
}

.nav-bar {
  background-color: var(--dgray1);
  border-right: 1px solid var (--dgray6);
  border-left: 1px solid var (--dgray6);
  border-bottom: 1px solid var (--dgray6);
  -webkit-position: fixed;
  -moz-position: fixed;
  -o-position: fixed;
  position: fixed;
	padding:8px;
	height:50px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  z-index: 250;
  transition: all 0.3s;
}

/*---------[ logo ]----------*/

.nav-bar .nav-logo {
  position: relative;
  left: 0px;
  top:0;
  height: 42px;
  display: flex;
  width: 200px;
  margin-right:auto;
  padding-left:0;
  padding-right:auto;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.nav-bar .nav-logo a {
  width: 48px;
  height: 42px;
  padding-right:4px;
}

.nav-bar .nav-logo img {
  width: 42px;
  height: 42px;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
}

.nav-bar .logo-type {
  /* border-left: 1px solid var(--lgray4); */
  height: 32px;
  font-size: 0.85rem;
  font-family: var(--manrope);
  position: relative;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 32px;
  border-left:1px solid #fff;
  color: var(--lgray9);
  text-shadow: 0 0 10px #222;

}

.nav-bar .logo-type strong {
font-weight:800!important;
letter-spacing: 1.4px;

}
.nav-bar .nav-links {
	position:relative;
display:flex;
height:50px;
	justify-content: space-evenly;
-ms-align-items: center;
align-items: center;
align-content: center;
margin-left: auto;
margin-right: 0;

}



.nav-bar .nav-links a:before {

position:absolute;
font-family:boxicons;
 font-weight:400;
 font-style:normal;
line-height:50px;
text-align: center;
font-size: 1.5rem;
color:white;
will-change:opacity,transform;
opacity:1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
transition:opacity 0.2s ease 0.2s, transform 0.3s ease 0.1s;

}

.nav-bar .nav-links a {

  flex:1 1 25%;
  position:relative;
  display:flex;
  flex-flow: row nowrap;
text-align: center;
justify-content: center;
align-items:center;
align-content: center;
color: transparent;
padding:0 0.6rem;
font-weight:500;
text-transform:uppercase;
font-size:0.9rem;
transition:color 0.3s ease 0.1s;

}
.nav-links a:hover {
	color: #fff;
  transition:color 0.3s ease 0.1s;

}


.nav-links a.current {
	color: var(--blue-dark);
}

.nav-links a:hover:before,
.nav-links a.current:before {
	opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition:opacity 0.1s ease 0.2s, transform 0.2s ease 0.1s;

}

.nav-bar .nav-links a:first-child:before {
content:"\ea5b";
}

.nav-bar .nav-links a:nth-child(2):before {
content:"\eb52";
}

.nav-bar .nav-links a:nth-child(3):before {
content:"\e99e";
}

.nav-bar .nav-links a:nth-child(4):before {
content:"\ea20";
}

.nav-bar .mode-switch {
  position: relative;
  display:flex;
  margin-right:0;
  margin-left:auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:50px;
  width:50px;
  transition:all 0.3s ease;
}
.nav-bar .mode-switch .sun,
.nav-bar .mode-switch .moon {
position: absolute;
width: 24px;
height: 24px;
overflow: hidden;
cursor: pointer;
transition: all 0.3s;
top: 50%;
left: 50%;
margin-top: -12px;
margin-left: -12px;
  opacity:1;
}

.nav-bar .mode-switch .moon img {
 -webkit-filter:invert(1);
 filter:invert(1);
}

.nav-bar .mode-switch .sun img {
 -webkit-filter:invert(0);
 filter:invert(0);
}

.hide {
  display: none;
}




/*---------[ icon ]----------*/


.nav-bar .nav-icon {
  position: relative;
   width: 50px;
  height: 50px;
/*   margin: 0px; */
/*   margin-left:auto; */
  cursor: pointer;
}

.nav-bar .nav-icon:before,
.nav-bar .nav-icon:after {
  content: "";
  position: absolute;
  background-color: var(--dgray6);
  height: 4px;
  width: 30px;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  transition: all 0.3s;
}


.nav-icon:before {
  margin-top: -6px;
}
.nav-icon:after {
  margin-top: 4px;
}

.nav-icon:hover:before,
.nav-icon:hover:after {
  background-color: var(--blue-darker);
}

.nav-icon.active:before,
.nav-icon.active:after {
  background-color: var(--blue-darker);
  margin-left: -15px !important;
  margin-top: -2px !important;
}

.nav-icon.active:before {
  -webkit-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}
.nav-icon.active:after {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}


/*----------- Dark Theme ----------------*/


.page-title {

  color: #485563;


}
.pgtr-contact .form {
  padding-top:40px;
  padding-left:20px;
  width:60%;
  padding-bottom:40px;
  padding-right:40px;
  border-right: 1px dashed var(--dgray6);
  /* float: right; */
  margin-top:40px;
}


.pgtr-contact .invitation {
  margin-top: 80px;
  padding-top:40px;
  padding-right:20px;
  width:36%;
  padding-left:20px;
  position:relative;
  margin-left:auto;
  margin-right:0;
  text-align: right!important;

}



form>div {
  margin: 10px;
  padding-bottom: 10px;
}

.pgtr-contract form .title {
  text-align: left;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}

.dark .title {
  color: #fff;
}

.pgtr-contact input,
.pgtr-contact textarea {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  border: 2px solid var(--dgray3);
  background-color: var(--dgray3);
  transition: all 0.3s ease;
  outline: none;
}

.dark input,
.dark textarea {
  background-color: var(--dgray1);
  border: 2px solid var(--dgray3);
  color: var(--dgray6);
}

.pgtr-contact textarea {

  overflow: auto;
  height: 160px;
  resize: none;
}

.pgtr-contact input:focus,
.pgtr-contact textarea:focus {
  border:2px solid var(--dgray2);
  border-bottom: 2px solid var(--blue-darker);
  background-color:var(--dgray2);
  color:var(--dgray9);

}

.pgtr-contact #submit {
  text-align: center;
  background-color: var(--dgray1);
  color: var(--mgray6);
  width: 30%;
  transition: 0.2s ease;
}


.pgtr-contact #submit:hover {
  background-color: var(--blue-darker);
  color: #fff;
}

.dark #submit {
  background-color: var(--blue-darker);

}


/*---------[ menu ]----------*/

body.active-nav .page {

  opacity:0;
  pointer-events:none;
  transition: all 0.3s;
}


body .nav-cover {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top:0;
  bottom:0;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  opacity:0;
  z-index: 240;
  background: var(--dgray1);
  transition:opacity 0.6s ease, -webkit-transform 0s ease 0.3s;
  transition:opacity 0.6s ease, transform 0s ease 0.3s;
  transition:opacity 0.6s ease, transform 0s ease 0.3s, -webkit-transform 0s ease 0.3s;
}

body.active-nav .nav-cover {

    -webkit-transform:translate3d(0,0,0);

            transform:translate3d(0,0,0);
    opacity: 1;
    transition:opacity 0.3s ease 0.3s, -webkit-transform 0s;
    transition:transform 0s, opacity 0.3s ease 0.3s;
    transition:transform 0s, opacity 0.3s ease 0.3s, -webkit-transform 0s;


}

body .nav-cover .nav-links {
 width:100%;
  position:relative;
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100%;
}

body .nav-cover .nav-links a {

  font-size: 1.4rem;
  font-weight: 900;
  padding:20px;
  transition: all 0.3s cubic-bezier(0.54, 1.6, 0.5, 1);
}


/*--------------------------------------------------*/
/*------------[     main layout       ]-------------*/
/*--------------------------------------------------*/

.main {
  opacity: 1;
  position: absolute;
  background-color: var(--dgray1);
  top:100vh;
  z-index: 5;
  width:100vw;
  min-height: 100vh;
  margin-bottom: 200px;
  box-shadow: 0 -80px 80px rgba(0,0,0,0.5);
  transition: all 0.3s cubic-bezier(0.54, 1, 0.5, 1);
}

.block {
  padding: 20px 50px;
  margin-top: 20px;
  /* flex-basis:100%; */
  /* flex-grow:1; */
  /* width: 100%; */
  background-color: var(--dgray2);
  overflow: hidden;
  text-align: left;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.1),
    0 6px 6px -2px rgba(0, 0, 0, 0.09);
  border: 1px solid var(--dgray4);
  transition: all 0.3s cubic-bezier(0.54, 1, 0.5, 1);
}

.block:last-child {
  margin-bottom: 200px
}

.title-box {
padding: 8px 16px;
width:25%;
text-align: right;
line-height: 3rem;
font-size:2.4rem;
word-spacing: 100vw;
vertical-align: baseline;
}

.details-box {
padding:16px;
width:75%;

}
.details {
  text-align: left;
  /* text-justify: inter-word; */
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.block--full {
  width:100%;
  margin-right:0;
  margin-left:0;

}

.block--right {
  margin-right:0;
  flex-grow:2;
  margin-left:-10px;

}

.block--left {
  flex:1;
  flex-grow:3;
  margin-right:30px;
  margin-left:0;
}

.blink {
  animation: blink 3000ms infinite;
  -webkit-animation: blink 3000ms infinite;
}


.title--small {
  /* position: relative; */
  font-size: 1.1rem;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 0;
  color: var(--lgray6);
}

.subtitle--small {
  /* position: relative; */
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.5;
  text-align: left;
  text-transform:capitalize;
  margin: 0;
  font-weight: 500;
  color: var(--mgray9);
}

.subtitle--small {
  color: var(--mgray2);
}

::-moz-selection {
  background-color: #000;
  color: #fff;
  max-width: 960px;
  text-shadow: none;
}

::selection {
  background-color: var(--blue-darker);
  color: #fff;
  max-width: 940px;
  text-shadow: none;
}

/*----------[ Media Queries ]-------------*/

/*---------[ desktop ]----------*/

@media screen and (min-width: 961px) {
  .page {
    /* 		width: 80vw; */
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .main {
    padding: 8px 10vw;
    margin-bottom: 60px;
  }

  .nav-bar {
    width: 80vw;
    margin: 0 auto;
  }

	.nav-bar .nav-links {
	display:flex;
	}

	.nav-bar .nav-links a {
	margin:0 4px;
	}

	body .nav-icon {
	display:none;
	}





  .hero {
    opacity: 1;
  }

  .isotope-item {
    flex: 25%;
    width: 18vw;
    margin: 1vw;
  }

  .pgtr-contact .invitation {

    width:36%;
  }

  .pgtr-contact .form {

    width:60%;
  }


  footer {
    padding: 60px 10vw;
  }
}

/*---------[ laptop ]----------*/

@media screen and (min-width: 641px) and (max-width: 960px) {
  .page {
    /* 		width: 90vw; */
    margin: 0 auto;
  }

  .main {
    padding: 8px 5vw;
    margin-bottom: 60px;
  }
  .block {
  padding:20px;

  }

  .pgtr-contact .invitation {

    width:36%;
  }

  .pgtr-contact .form {

    width:60%;
  }


  .nav-bar {
    width: 90vw;
    margin: 0 auto;
  }

	.nav-bar .nav-links {
    display: flex;
  }


	body .nav-icon {
	display:none;
	}

  .hero {
    opacity: 0.6;
  }

  .isotope-item {
    margin: 0;
  }

  footer {
    padding: 60px 5vw;
  }
}

/*---------[ mobile ]----------*/

@media screen and (min-width: 481px) and (max-width: 640px) {
  .page {
    /* 		width: 96vw; */
    margin: 0 auto;
  }

  .main {
    padding: 8px 2vw;
    margin-bottom: 60px;
  }

  .block {
  padding:20px;

  }

  .pgtr-contact .flex-row {
    flex-direction:column;


  }

  .pgtr-contact .invitation {

    width:100%;
    padding-left: 30px;
    padding-right:30px;
    order:1;
  }

  .pgtr-contact .form {

    width:100%;
    border:none;
    border-top:2px dotted var(--dgray6);
    order:2;
    padding-right:20px;

  }

  .pgtr-contact .form input,
  .pgtr-contact .form textarea {

    width:100%;

  }


  .nav-bar {
    width: 96vw;
    margin: 0 auto;
  }

	.nav-bar .nav-links {
	display:none;

	}

  .nav-icon {
   display:block;
  }




  .nav-logo {
    width: 50px;
  }

  .logo-type {
    display: none;
  }

  .nav-flexer {
    display: none;
  }

  .hero {
    opacity: 0.4;
  }

  .isotope-item {
    width: 96vw;
    margin: 0;
  }

  footer {
    padding: 60px 2vw;
  }
}

/*---------[ small - old screens ]----------*/

@media screen and (max-width: 480px) {
  .page {
    width: 100%;
    margin: 0;
  }

  .main {
    padding: 8px 4vw;
    margin: 0;
  }


    .pgtr-contact .flex-row {
      flex-direction:column;


    }

    .pgtr-contact .invitation {

      width:100%;
      padding-left: 30px;
      padding-right:30px;
      order:1;
    }

    .pgtr-contact .form {

      width:100%;
      border:none;
      border-top:2px dotted var(--dgray6);
      order:2;
      padding-right:20px;

    }

    .pgtr-contact .form input,
    .pgtr-contact .form textarea {

      width:100%;

    }

  .nav-bar {
    width: 100%;
    margin: 0;
  }

	.nav-bar .nav-links {
	display:none;

	}

  .nav-icon {
	display:block;
	}

  .block {
  padding:20px;

  }

  .nav-logo {
    width: 50px;
  }

  .logo-type {
    display: none;
  }

  .nav-flexer {
    display: none;
  }

  .hero {
    opacity: 0.2;
  }

  .isotope-item {
    width: 100%;
    margin: 0;
  }

  footer {
    padding: 60px 20px;
  }
}

/*--------------[ Animations ]-----------------*/

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/*--------------[ nav mode ]-------------------*/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes alpha-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes alpha-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim_ttb {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes anim_ttb {
  0% {
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Bottom to top keyframes */
@-webkit-keyframes anim_btt {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes anim_btt {
  0% {
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Left to right keyframes */
@-webkit-keyframes anim_ltr {
  0% {
    -webkit-transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes anim_ltr {
  0% {
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Right to left keyframes */
@-webkit-keyframes anim_rtl {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes anim_rtl {
  0% {
    -webkit-transform: translate3d(100px, 0, 0);
            transform: translate3d(100px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* Appear from center in keyframes */
@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* Appear from center out keyframes */
@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* Disappear from center keyframes */
@-webkit-keyframes zoom-reverse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes zoom-reverse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

#wrapper {
  margin: 0 auto;
  max-width: 66em;
  font-size: 1rem;
}

#container {
  float: left;
  width: 100%;
  font-size: 1rem;
}

ul.timeline {
  list-style: none;
}

ul.timeline ul {
  list-style: none;
}

ul.timeline > li {
  padding-left: 2px;
  position: relative;
  font-size: 1rem;
	display:block;
}

.fadeIn {

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn {

  100% {
    opacity:1;
  }
}

@keyframes fadeIn {

  100% {
    opacity:1;
  }
}


ul.timeline .year {
  position: relative;
  font-size: 1.2rem;
  color: var(--blue-darker);
  background-color: var(--dgray1);
  height: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-align: center;
  z-index: 5;
  -webkit-animation-name: turnblue;
  animation-name: turnblue;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

ul.timeline .year:first-of-type {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

ul.timeline .year:nth-of-type(2) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

ul.timeline .year:nth-of-type(3) {
  -webkit-animation-delay: 17s;
  animation-delay: 17s;
}

ul.timeline .year:nth-of-type(4) {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

ul.timeline .year:nth-of-type(5) {
  -webkit-animation-delay: 21s;
  animation-delay: 21s;
}
ul.timeline .year:nth-of-type(6) {
  -webkit-animation-delay: 26s;
  animation-delay: 26s;
}
ul.timeline .year:nth-of-type(7) {
  -webkit-animation-delay: 31s;
  animation-delay: 31s;
}
ul.timeline .year:nth-of-type(8) {
  -webkit-animation-delay: 36s;
  animation-delay: 36s;
}
ul.timeline .year:nth-of-type(9) {
  -webkit-animation-delay: 41s;
  animation-delay: 41s;
}
ul.timeline .year:nth-of-type(10) {
  -webkit-animation-delay: 46s;
  animation-delay: 46s;
}
ul.timeline .year:nth-of-type(11) {
  -webkit-animation-delay: 51s;
  animation-delay: 51s;
}
ul.timeline .year:nth-of-type(12) {
  -webkit-animation-delay: 56s;
  animation-delay: 56s;
}
ul.timeline .year:nth-of-type(13) {
  -webkit-animation-delay: 61s;
  animation-delay: 61s;
}
body.light ul.timeline .year {
  color: var(--blue-darker);
  background-color: var(--lgray4);
}

ul.timeline .details {
  position: relative;
  font-size: 1rem;
  line-height:1.6;
  margin-top: 1rem;
  color:var(--mgray3);
  font-weight: 500;
}

ul.timeline .details strong {
color:#fff;
font-weight:inherit;
line-height:3;
display:block;
}
ul.timeline > li:before,
ul.timeline > li:after {
  content:"";
  position: absolute;
  top: 0;
  width: 2px;
}

ul.timeline > li:before {
  height: 100%;
  background-color: var(--dgray1);
}

body.light ul.timeline > li:before {
  height: 100%;
  background-color: var(--lgray1);
}

ul.timeline > li:after {
  height:100%;
  -webkit-transform-origin:top;
          transform-origin:top;
  -webkit-transform:scaleY(0);
          transform:scaleY(0);
  background-color: var(--blue-darkest);
}



ul.timeline > li.hover:after {
  -webkit-animation-name: growdown;
  animation-name: growdown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*
ul.timeline > li:first-of-type:after {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
} */
/*
ul.timeline > li:nth-of-type(2):after {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

ul.timeline > li:nth-of-type(3):after {
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

ul.timeline > li:nth-of-type(4):after {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

ul.timeline > li:nth-of-type(5):after {
  -webkit-animation-delay: 21s;
  animation-delay: 21s;
}
ul.timeline > li:nth-of-type(6):after {
  -webkit-animation-delay: 26s;
  animation-delay: 26s;
}
ul.timeline > li:nth-of-type(7):after {
  -webkit-animation-delay: 31s;
  animation-delay: 31s;
}
ul.timeline > li:nth-of-type(8):after {
  -webkit-animation-delay: 36s;
  animation-delay: 36s;
} */

@-webkit-keyframes growdown {
  0% {
    -webkit-transform:scaleY(0);
            transform:scaleY(0);
  }
  100% {
    -webkit-transform:scaleY(100%);
            transform:scaleY(100%);
    pointer-events: none;
  }
}

@keyframes growdown {
  0% {
    -webkit-transform:scaleY(0);
            transform:scaleY(0);
  }
  100% {
    -webkit-transform:scaleY(100%);
            transform:scaleY(100%);
    pointer-events: none;
  }
  }

ul.timeline > li > ul > li {
  border-top: 2px dotted var(--dgray1);
}

ul.timeline > li > ul > li:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  height:2px;
  width:100%;
  border-top: 2px dotted var(--blue-darker);
}


body.light ul.timeline > li > ul > li {
  border-top: 2px dotted var(--lgray1);
}

@media only screen and (min-width: 960px) {
  ul.timeline > li:before,
  ul.timeline > li:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
ul.timeline > li > h3 {
  background-color: #c1c4c6;
  color: #212426;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  text-transform: uppercase;
  top: 0;
}
@media only screen and (min-width: 960px) {
  ul.timeline > li > h3 {
    border-radius: 0;
    margin: 0 auto;
    margin-bottom: 1em;
    max-width: 200px;
  }
}
ul.timeline > li > ul {
  display: flex;
  flex-wrap: wrap;
}
ul.timeline > li > ul > li {
  flex: 0 0 100%;
  padding: 0 0 0.5em 1em;
}

@media only screen and (min-width: 640px) {
  ul.timeline > li > ul > li {
    flex-basis: 50%;
  }
  ul.timeline > li > ul > li:nth-child(odd) {
    padding-left: 0;
    padding-right: 1em;
  }
  ul.timeline > li > ul > li:nth-child(even) {
    margin-top: 2em;
    padding-right: 0;
  }
}
ul.timeline > li > ul > li > h5:first-child {
  color: var(--dgray2);
  margin-bottom: 0.75em;
}



  @-webkit-keyframes grow {

    0% {
      -webkit-transform:scale(0);
              transform:scale(0);
      opacity:0.6;
    }

    60% {
      -webkit-transform:scale(0.6);
              transform:scale(0.6);
      opacity:0; }
  }

  @keyframes grow {

    0% {
      -webkit-transform:scale(0);
              transform:scale(0);
      opacity:0.6;
    }

    60% {
      -webkit-transform:scale(0.6);
              transform:scale(0.6);
      opacity:0; }
  }


  footer {
  	padding: 40px;
  	width: 100vw;
  	height: 100px;
  	position: absolute;
    overflow:hidden;
  	left: 0;
  	bottom: 0;
  	right:0;
  	text-align: center;
  	color: var(--dgray9);
  }

  footer .footer-text {
  	font-size:12px;
  right:0;
    left:0;
    opacity:0;
  }

  .blackout {

position: fixed;
	top:50%;
	left:50%;
	margin-top:-50vw;
	margin-left:-50vw;
	z-index:10;
	display: block;
	background:#111;
	border-radius:0%;
 opacity:0;
transform:scale(1);
height: 120vw;
width: 120vw;
animation: grow 3s cubic-bezier(.16,.87,.63,.62) 1;
  }

@-webkit-keyframes grow {

    0% { transform:scale(1);opacity:0; }

        50% { transform:scale(1);opacity:1; }
	        100% { transform:scale(1);opacity:0; }


  }

  @keyframes grow {

    0% { transform:scale(1);opacity:0; }

        50% { transform:scale(1);opacity:1; }
			        100% { transform:scale(1);opacity:0; }


  }


    @-webkit-keyframes spin {
    	0% {
    		-webkit-transform: rotate(0deg);
    		transform: rotate(0deg);
    	}
    	to {
    		-webkit-transform: rotate(360deg);
    		transform: rotate(360deg);
    	}
    }
    @keyframes spin {
    	0% {
    		-webkit-transform: rotate(0deg);
    		transform: rotate(0deg);
    	}
    	to {
    		-webkit-transform: rotate(360deg);
    		transform: rotate(360deg);
    	}
    }

#fader {
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
        right:0;
        width: 100%;
        height: 100vh;
        z-index: 500;
        pointer-events: none;
        background: var(--dgray1);
        -webkit-animation-duration: 500ms;
                animation-duration: 500ms;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
      }

      #fader:before {
        content: 'fade'
      }

      @-webkit-keyframes fade-out {
        from { opacity: 1 }
        to { opacity: 0 }
      }

      @keyframes fade-out {
        from { opacity: 1 }
        to { opacity: 0 }
      }

      @-webkit-keyframes fade-in {
        from { opacity: 0 }
        to { opacity: 1 }
      }

      @keyframes fade-in {
        from { opacity: 0 }
        to { opacity: 1 }
      }

      #fader.fade-out {
        opacity: 0;
        -webkit-animation-name: fade-out;
                animation-name: fade-out;
      }

      #fader.fade-in {
        opacity: 1;
        -webkit-animation-name: fade-in;
                animation-name: fade-in;
      }

        body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .link {
        display: block;
        font: normal 1em sans-serif;
      }


.pgtr-index {

overflow:hidden;
}

.bg--lined-thin {
    position: absolute;
display:block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index:2;
    background: linear-gradient(to bottom, #00231e33 50%, #001e2566 51%),rgba(110,140,150,0.4);
    mix-blend-mode: hard-light;
    background-size: 100% 4px;
    background-repeat:repeat-y;
}
.letters {
    width: 300px;
    height: 300px;
    opacity:1;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
    position: fixed;
    z-index: 1;
}
.letters, .letter {
    position:absolute;
    font-weight: lighter;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-name: circleAround;
    animation-name: circleAround;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    mix-blend-mode: screen;
}

.letters {
-webkit-animation-duration: 30s;
animation-duration: 30s;
-webkit-animation-direction: alternate-reverse;
animation-direction: alternate-reverse;
}


.letter {
-webkit-animation-duration: 30s;
animation-duration: 30s;
-webkit-animation-direction: normal;
animation-direction: normal;
}

.letter--blue {
    font-size: 8vh;
    color: #2095a5;
    margin:80%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.letter--yellow {
    font-size: 12vh;
    color: #fdce54;
    margin-left:80%;
    /* margin-left:100px; */
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.letter--red {
    font-size: 10vh;
    color: #bc482f;
    margin-bottom:80%;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}

.fx--scrumbled {
    height: 30px;
    width: 80vw;
    left:50%;
    margin-left:-40vw;
    top:60vh;
    position:absolute;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:all 1s ease;
    z-index:5;
}
.fx--scrumbled .scrumble {
    color: #084055;
    background:#111416;
}
.fx--scrumbled .text {
    font-weight: 600;
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase;
    color: #246e88;
}

.fx-text-flicker-blue {
display:flex;
color:rgba(0, 30, 37, 1);
justify-content: center;
align-items: center;
align-content: center;
text-align: center;
width:240px;
height: 100px;
padding:40px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -120px;
margin-top: -50px;
z-index: 1;
font-family: var(--graphik);
font-weight: 300;

}

.fx-text-flicker-blue span {
  position:relative;
  text-align: center;
font-size:5rem;
padding:2px;
/* letter-spacing: 6px; */
color:rgba(0, 30, 37, 1);
z-index:6;
mix-blend-mode: multiply;

}
.fx-text-flicker-blue span:nth-child(odd) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear infinite;
	animation: flicker-blue 10s linear infinite;
}

.fx-text-flicker-blue span:nth-child(even) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear 3s infinite;
	animation: flicker-blue 10s linear 3s infinite;
}

@-webkit-keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8),
			1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8),
			1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #03d1ec,
			0 0 15px #03d1ec, 0 0 2px #03d1ec, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}

@keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
    color:#fff;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
			1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.5),
			1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #2095a5,
			0 0 15px #2095a5, 0 0 2px #000, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}


@-webkit-keyframes circleAround {
    0% {
        -webkit-transform: translate(0px) rotate(0deg);
        transform: translate(0px) rotate(0deg);
   }
    100% {
        -webkit-transform: translate(0px) rotate(360deg);
        transform: translate(0px) rotate(360deg);
   }
}
@keyframes circleAround {
    0% {
        -webkit-transform: translate(0px) rotate(0deg);
        transform: translate(0px) rotate(0deg);
   }
    100% {
        -webkit-transform: translate(0px) rotate(360deg);
        transform: translate(0px) rotate(360deg);
   }
}


 .focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: focus-in-contract-bck 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
}

/*
 * ----------------------------------------
 * @animation flicker-in-2
 * ----------------------------------------
 */

 .flicker-in-2 {
	-webkit-animation: flicker-in-2 2s linear both;
	        animation: flicker-in-2 2s linear both;
}

/*
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


@-webkit-keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
