/*--------------[ basic styles ]-------------------*/

:root {

    --darkest: #1A1C1D;
  
    --darker: #1f2122;
  
    --dark: #252728;
  
    --darkgray: #525456;
  
    --gray: #929496;
  
    --light: #e6e6e6;
  
    --lighter: #f2f4f6;
  
    --lightest: #ffffff;
  
    --accent: goldenrod;
  
    --txt-color: var(--gray);
  
    --text-size: 16px;
  
  
  }
  
  
  *,
  *:before,
  *:after,
  html {
  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: url("../images/site/custom-cursor.svg"), auto !important;
  
  }
  
  html {
  
    font-weight: 400;
    position: absolute;
    font-style: normal;
    font-size: var(--text-size, 16px);
    color: var(--gray);
    width: 100vw;
      overflow:auto;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
  
  
  }
  
  body {
  
    width: 100vw;
      overflow: auto;
      background:var(--lighter);
    margin: 0;
    transition: all 0.3s var(--ease-in-quad);
  
  }
  
  /*--------------[ nav mode ]-------------------*/
  
  
  
  .dark {
    --bg-color: var(--darkest);
    --section-bg-color: var(--darker);
    --box-bg-color: var(--darker);
    --border-color: var(--dark);
    --txt-color: var(--gray);
  }
  
  
  .light {
    --bg-color: var(--lighter);
    --section-bg-color: var(--lighter);
    --box-bg-color: var(--lightest);
    --border-color: var(--light);
    --txt-color: var(--darkgray);
  }
  
  .dark {
      
  background-color:var(--darkest);	
      
  }
  
  
  
  .ovfl-hide {
  
    overflow: hidden;
  
  }
  
  /*------------[ font styles ]-------------------*/
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--darkest);
    font-weight: 600;
    margin: 20px 0;
  }
  
  h1 {
    font-size: 3rem;
  
  }
  
  h2 {
    font-size: 2.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  
  h4 {
    font-size: 1.6rem;
  
  }
  
  
  h5 {
    font-size: 1.2rem;
  }
  
  
  h6 {
    font-size: 1rem;
  
  }
  
  p {
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-size, 16px);
    color: var(--darkgray);
    font-family: 'Helvetica Neue', sans-serif;
    text-align: left;
    margin-bottom: 20px;
  
  }
  
  a:link,
  a:focus,
  a:active,
  a:hover,
  a {
    text-decoration: none;
      border:none;
      outline:none;
  }
  
  .page {
      
      overflow:hidden;
      padding-bottom:160px;
    transition: all 0.3s var(--ease-in-quad);
  }
  
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
  
      color:var(--lighter);
      
  }
  
  
  /*------------[ navigation ]---------------------*/
  
  
  .overscroll-fix {
  width:100vw;
      height:100px;
      top:0px;
      left:0;
      position:fixed;
      background:var(--lighter);
      z-index:-1;	
  }
  
  .dark .overscroll-fix {
          background-color: var(--darkest);
  
      
      
  }
  
  
  .nav-bar {
    background-color: var(--darkest);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    z-index: 250;
  
  }
  
  
  /*---------[ logo ]----------*/
  
  .nav-logo {
  
    position: relative;
    left: 2px;
    height: 50px;
    display: flex;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  
  .nav-logo a {
  
    width: 50px;
    height: 50px;
  }
  
  .nav-logo a img {
    width: 46px;
      height:46px;
      margin-top:2px;
      margin-left:2px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
      background:#212121;
      border:none;
      outline:none;
      
  }
  
  .logo-type {
  
    border-left: 2px solid #ddd;
    height: 36px;
    font-size: 1rem;
    flex: 1;
    font-weight: 600;
    padding-left:10px;
      margin-left:0px;
    text-shadow: #000;
    text-transform: uppercase;
    line-height: 36px;
    color: #ddd;
  }
  
  .page-title {
    opacity: 0;
    flex: 1;
    min-width: 200px;
    position: relative;
    left: 20px;
    top: 0px;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: #000;
    text-transform: uppercase;
    transition: all 0.3s linear;
    color: #ddd;
    z-index: 500;
  
  
  
  }
  
  .page-title:before {
  
    content: "";
    width: 10px;
    height: 10px;
    background: transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    left: -20px;
    line-height: 50px;
    top: 20px;
  }
  
  
  
  
  .nav-spacer {
  
    height: 50px;
    flex-grow: 4;
  }
  
  
  /*---------[ icon ]----------*/
  
  
  .nav-icon {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 250;
  
  }
  
  
  .bar1,
  .bar2,
  .bar3 {
  
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    margin: 4px;
    opacity: 1;
    background-color: var(--test-color, #717276);
    transition: all 0.2s;
  }
  
  .nav-icon:hover .bar1,
  .nav-icon:hover .bar2,
  .nav-icon:hover .bar3 {
  
    background-color: darkgoldenrod;
  
  }
  
  .nav-icon.change .bar1 {
    -webkit-transform: translateY(12px) rotate(0deg);
            transform: translateY(12px) rotate(0deg);
  
  }
  
  .nav-icon.change .bar2 {
    opacity: 0;
  }
  
  .nav-icon.change .bar3 {
    -webkit-transform: translateY(-12px) rotate(0deg);
            transform: translateY(-12px) rotate(0deg);
  
  }
  
  .nav-icon.change:hover .bar1,
  .nav-icon.change:hover .bar2,
  .nav-icon.change:hover .bar3 {
  
    background-color: darkgoldenrod;
  }
  
  /*---------[ menu ]----------*/
  
  
  #menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    position: fixed;
    background-color: var(--darkest);
    height: 100%;
    width: 100vw;
    margin: 0;
      top:0;
      left:0;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.25s ease;
  
  }
  
  
  
  #menu li {
    width: 200px;
    height: 40px;
    position: relative;
    list-style-type: none;
    text-align: center;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    will-change: transform;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.35s ease 0.3s;
    transition: transform 0.35s ease 0.3s;
    transition: transform 0.35s ease 0.3s, -webkit-transform 0.35s ease 0.3s;
  
  }
  
  #menu li a {
    color: var(--darkgray);
    width: 100%;
    display: block;
    height: 100%;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  
  #menu.show {
    opacity: 1;
    position: fixed;
    z-index: 204;
  }
  
  #menu.show li:first-child {
     -webkit-transform: translate3d(0, 0%, 0);
    transform: translate3d(0, 0%, 0);
  }
  
  #menu.show li:nth-child(2) {
     -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  
  #menu.show li:nth-child(3) {
     -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }
  
  #menu.show li:nth-child(4) {
     -webkit-transform: translate3d(0, 75%, 0);
    transform: translate3d(0, 75%, 0);
  }
  
  #menu.show li a {
    opacity: 1;
    background: #121212;
  }
  
  #menu.show li:hover a,
  #menu.show li.current a {
    color: #fff;
  }
  
  #menu li.current a {
    background-color: transparent;
      pointer-events:none;
  }
  
  
  /*------------[ main layout ]------------------*/
  
  .header {
    padding: 20px;
    color: #e2e3e6;
    font-family: 'helvetica neue', sans-serif;
    font-size: 2.2rem;
      width:100%;
    height: 300px;
    font-weight: 400;
    letter-spacing: 0rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: right;
      background:var(--lightest);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1), 0 6px 6px -2px rgba(0, 0, 0, 0.09);
  
  }
  
  .dark .header {
      
  background:var(--dark);	
      
      
  }
  
  
  .header-text {
  
    font-family: 'helvetica Neue', sans-serif;
    font-weight: 600;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    top: 220px;
    right: 18vw;
    letter-spacing: -2px;
    will-change: transform;
    text-align: right;
    font-size: 2.6rem;
  }
  
  .header-text span {
    position: relative;
    text-transform: lowercase;
  }
  
  .main {
    opacity: 1;
      background:var(--lighter);
      z-index:1;
      padding-bottom:0px;
    transition: all 0.3s var(--ease-in-quad);
  }
  
  .dark .main {
      
          background:var(--darkest);
  
  
      
      
  }
  
  .block {
    padding: 20px 30px;
    margin-top: 20px;
      width:100%;
    background-color: var(--lightest);
    color: var(--text-color);
    overflow: hidden;
    transition: all 0.3s var(--ease-in-quad);
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.1), 0 6px 6px -2px rgba(0, 0, 0, 0.09);
    border: 1px solid var(--light);
  }
  
  .dark .block {
  
    border: 1px solid var(--dark);
      background:var(--darker);
      color:var(--gray);
  
  }
  
  .footer {
    padding: 100px 40px;
      width:100vw;
      height:100px;
      position:fixed;
      left:0;
      bottom:0;
      z-index:-1;
    text-align: center;
    color: #999;
      background-color: var(--lighter);
  }
  
  .dark .footer {
      
          background-color: var(--darkest);
          color:var(--darkgray);
  
  }
  
  
  
  
  /*--------------[ Media Queries ]-----------------*/
  
  
  /*---------[ desktop ]----------*/
  
  
  @media screen and (min-width:961px) {
  
  
    .page {
      width: 80vw;
      margin: 0 auto;
      margin-bottom: 60px;
    }
      
      .main {
      width: 80vw;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  
    .nav-bar {
      width: 80vw;
      margin: 0 auto;
    }
  
    .hero {
      opacity: 1;
    }
  
    .isotope-item {
      width: 25%;
      margin: 0;
    }
  
    .invitation,
    .address {
  
      width: 40%;
      margin-right: 10px;
  
    }
  
    .form {
  
      width: 58%;
  
    }
      
       .footer {
      padding: 60px 10vw;
    }
      
  }
  
  /*---------[ laptop ]----------*/
  
  @media screen and (min-width:641px) and (max-width:960px) {
  
    .page {
      width: 90vw;
      margin: 0 auto;
    }
      
      .main {
      width: 90vw;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  
    .nav-bar {
      width: 90vw;
      margin: 0 auto;
    }
  
    .hero {
      opacity: 0.6;
    }
  
    .isotope-item {
  
      width: 50%;
      margin: 0;
    }
  
    .invitation,
    .form,
    .address {
  
      width: 100%;
    }
      
       .footer {
      padding: 60px 5vw;
    }
  }
  
  /*---------[ mobile ]----------*/
  
  
  @media screen and (min-width:481px) and (max-width:640px) {
  
    .page {
      width: 96vw;
      margin: 0 auto;
    }
      
      .main {
      width: 96vw;
      margin: 0 auto;
      margin-bottom: 60px;
    }
  
    .nav-bar {
      width: 96vw;
      margin: 0 auto;
    }
      
      .nav-logo {
          
      width:60px;	
          
      }
      
    .logo-type {
  
      display: none;
    }
      
      .nav-flexer {
      display:none;	
      }
  
  
  
    .hero {
      opacity: 0.4;
    }
  
    .isotope-item {
      width: 100%;
      margin: 0;
    }
  
    .invitation,
    .form {
  
      width: 100%;
    }
  
    #menu a {
      font-size: 24px;
    }
      
       .footer {
      padding: 60px 2vw;
    }
  }
  
  /*---------[ small - old screens ]----------*/
  
  
  @media screen and (max-width:480px) {
  
  
    .page {
      width: 100%;
      margin: 0;
    }
  
      .main {
      width: 100%;
      margin: 0;
    }
      
    .nav-bar {
      width: 100%;
      margin: 0;
    }
      
      .nav-logo {
          
      width:60px;	
          
      }
      
    .logo-type {
  
      display: none;
    }
      
      .nav-flexer {
      display:none;	
      }
  
    .hero {
      opacity: 0.2;
    }
  
    .isotope-item {
      width: 100%;
      margin: 0;
    }
  
    .invitation,
    .form {
  
      width: 100%;
  
    }
  
    #menu a {
      font-size: 28px;
    }
      
        .footer {
      padding: 60px 20px;
    }
  }
  
  
  .fx--fade-in {
    -webkit-animation-name: fade-in;
            animation-name: fade-in;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  
  @-webkit-keyframes fade-in {
  
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
  
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fx--fade-out {
    -webkit-animation-name: fade-out;
            animation-name: fade-out;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  
  @-webkit-keyframes fade-out {
  
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fade-out {
  
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  
  @keyframes fade {
    from {
      opacity: 1.0;
    }
  
    50% {
      opacity: 0.4;
    }
  
    to {
      opacity: 1.0;
    }
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 1.0;
    }
  
    50% {
      opacity: 0.4;
    }
  
    to {
      opacity: 1.0;
    }
  }
  
  .blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
  }
  
  
  .fx-delay--1 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  .fx-delay--2 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  
  .fx-delay--3 {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  
  .hideme {
    opacity: 0;
  }
  
  
  #nav-mode,
  #circle {
    transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  }
  
  #nav-mode {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin-right: 4px;
    margin-left: 4px;
      right:55px;
    border: 2px solid var(--lighter);
    background: var(--lighter);
    position: absolute;
    z-index: 250;
  
  }
  
  #nav-mode #circle {
    margin-top: 2px;
    margin-left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--darkest);
  }
  
  #nav-mode.switched {
    background: var(--darker);
  }
  
  #nav-mode.switched #circle {
    border: 2px solid var(--lighter);
  }
  
  
  
  
  
  ::-moz-selection {
    background-color: #222;
    color: white;
    max-width: 960px;
    text-shadow: none;
  }
  
  ::selection {
    background-color: #222;
    color: white;
    max-width: 960px;
    text-shadow: none;
  }
  
  .progress-ring {
      position:fixed;
      left:0px;
      top:60px;
  }
  
  .progress-ring__circle {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  
  input {
    position: fixed;
      display:none;
    top: 60px;
    left: 100px;
    width: 80px;
  }
  
  .scrolled {
      
  top:80px;
      left:10px;
      position:fixed;
      text-align:center;
      color:darkgoldenrod;
      font-size:20px;
  }


.bg--grid-dot {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAABNJREFUGBljYBgFgy8Ezpw58x8ACcUDZGuTEIMAAAAASUVORK5CYII=) repeat;
}

.bg--grid-square {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAACJJREFUGBljYCACnD17tp6JCHVgJaMK8YYUIygw8aqASgIAtV0F3jghz34AAAAASUVORK5CYII=) repeat;
}

.bg--gradient-white {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}


.bg--gradient-gray {

  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg--gradient-orange {

background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-lightblue {

background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-bluegreen {

  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg--gradient-lightgreen {


background: #799F0C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #ACBB78, #799F0C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #ACBB78, #799F0C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-teal {


background: #44A08D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-darkgray {

  background: #485563;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg--gradient-purple {


  background: #AA076B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #61045F, #AA076B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-mauve {


background: #42275a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg--gradient-mirage {

  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3A6073, #16222A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3A6073, #16222A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
