
.object-2 {
/*   margin-top: 100px; */
    transform:translatex(-40px);

}

.object-3 {
/*   margin-top: 100px; */
    transform:translatex(0px);

}

.object-4 {
/*   margin-top: 100px; */
    transform:translatex(40px);

}

.object-5 {
/*   margin-top: 100px; */
    transform:translatex(80px);

}

.header-img {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;
filter:brightness(0.4);
top:0;
left:0;
right:0;
}

.header-img img {
margin:0 auto;
width:1280px;
height:1280px;

}

#work .intro-block {

  background-color: #62512966;
}

/*
#filters {
	margin:1%;
	padding:0;
	list-style:none;
}

	#filters button {
		float:left;
	}

	#filters button {
		display: block;
		padding:5px 20px;
		text-decoration:none;
		color:#666;
		cursor: pointer;
	}

	#filters button.active {
		background: #e95a44;
		color:#fff;
	}

 */


 #filters {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   margin-bottom: 20px;
 }

 .filter {
   border: 2px solid var(--dgray9);
   position: relative;
   outline: none;
  border-radius:4px;
   height: 30px;
   max-width:140px;
   padding: 2px 12px 5px 20px;
   text-align: left;
   margin: 6px;
   background-color: transparent;
   color: var(--mgray6);
   cursor: pointer;
   font-size: 14px;
   font-weight: 500;
   text-transform: lowercase;
   transition: all 0.3s ease;
 }

 .filter:before {
   content: "";
   display: block;
   position: absolute;
   top: 10px;
   left: 6px;
   height: 6px;
   width: 6px;
   border-radius: 6px;
   background-color: var(--dgray9);
   border: 1px solid var(--dgray6);
 }

 .filter:hover,
 .filter.active {
   border: 2px solid var(--blue-darkest);
   color: var(--blue-dark) ;

 }

.filter:hover:before {
  background-color: var(--blue-darkest);


}

.filter.active {
 background-color: var(--blue-darkest);
 color:#fff;
}

.filter.active:before {
 background-color: var(--dgray3);
 /* border:1px solid #111; */
}

 #projectList {
   /* display: block; */
   /* padding-top: 1vw; */
   width: 100%;
   min-height:100vh;
   /* justify-content: space-between; */
 }

 .project {
   text-align: center;
   background-color: var(--dgray3);
   box-shadow: 2px 4px 8px -4px rgba(0, 0, 0, 0.4),
   inset 0 0 20px -20px rgba(0, 0, 0, 0.8);
   padding: 0.4rem;
 	display:none;
 	float:left;
  position:relative;
 	overflow:hidden;
   font-size: 16px;
 }

 body.light .project {
   background-color: var(--lgray9);
 }
 .project .project-card {
   /* background-position: center center;
   background-repeat: no-repeat;
   background-size: cover; */
   overflow: hidden;
   position: relative;
 }

 .project .img-main-md-box {
   overflow:hidden;
   background: #000;
   width: 100%;
   height: 0;
   padding-bottom: 100%;

 }

 .project img {
   position: relative;
   width: 100%;
   min-height:100%;
   vertical-align: middle;
   /* object-fit:cover; */
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   will-change:opacity;
   opacity:1;
   transition:all 0.3s ease;

 }

 .project .project-info  {
  position: absolute;
  transform-origin: bottom center;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 40%;
  z-index: 1;
  opacity: 1;
  padding: 6px 20px;
  transition:all 0.3s ease;

}

.project .project-title,
.project .project-description {
   line-height: 1.2em;
   margin-bottom:8px;
   transform:translateY(100%);
   opacity:0;
   transition-property:all;
   transition-duration:0.3s;
    transition-timing-function: ease;
}

.project .project-title {
  font-weight: 400;
  font-size:1rem;
  text-transform: uppercase;
  color:rgba(255,255,255,1);
  transition-delay:0.2s;
}
.project .project-description {
  font-size: 0.9em;
  font-weight: 400;
  color:rgba(255,255,255,0.6);
  transition-delay:0.3s;

}
.project a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.project:hover img {
  opacity: 0.4;
}

.project:hover .project-title,
.project:hover .project-description {
   transform:translateY(0px);
   opacity:1;
}

.img-sec1-md,
.img-sec2-md,
.img-sec3-md {
display:none;
}




  /*----------[ Media Queries ]-------------*/

  /*---------[ desktop ]----------*/

  @media screen and (min-width: 961px) {
    .project {
      width: 24%;
      margin: 0.5%;
    }
  }

  /*---------[ laptop ]----------*/

  @media screen and (min-width: 641px) and (max-width: 960px) {
    .project {
      width: 48%;
      margin: 1%;
    }
  }

  /*---------[ mobile ]----------*/

  @media screen and (min-width: 481px) and (max-width: 640px) {
    .project {
      width: 96%;
      margin: 2%;
    }
  }

  /*---------[ small - old screens ]----------*/

  @media screen and (max-width: 480px) {
    .project {
      width: 96%;
      margin: 2%;
    }
  }

  #overlay {
    width: 100%;
    height:100vh;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: var(--dgray1);
    position: fixed;
    overflow-y: scroll;
    display: none;
    opacity: 1;
    padding-top:100px;
    padding-bottom:100px;
  }


  .pop-up {
    display: none;
    padding: 60px 40px;
     /* -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); */
    opacity: 0;
    width:80%;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(20, 20, 20, 0.25);
    -moz-box-shadow: 0px 0px 3px 3px rgba(20, 20, 20, 0.25);
    box-shadow: 0px 0px 3px 3px rgba(20, 20, 20, 0.25);
    z-index: 500;
    position: absolute;
    /* left: 0%;
    top: 0%; */
    transition:all 0.3s ease;
    margin-top:50px;
    margin-bottom:50px;
    margin-right:10%;
    margin-left:10%;
  }

.is-visible {

    opacity: 1;
    display: block !important;
    z-index:500;
  }

  .pop-up .project-title {
    text-transform: uppercase;
    font-weight: 400;
    font-family:"Helvetica Neue", sans-serif;
    display: block;
    margin-bottom:8px;
  }

  .pop-up .project-description {
    text-align: justify;
  }

.img-main-lg-box,
.img-sec1-lg-box,
.img-sec2-lg-box,
.img-sec3-lg-box {
    width: 100%;
    height:auto;
    overflow: hidden;
    display:flex;
    background:var(--dgray1);
    box-sizing:content-box;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    box-shadow:0 0 1px #000;
    padding:0;
  }

  .pop-up img {
    width: 100%;
    transform: scale(1.2);
    left:50%;
    box-sizing:content-box;
    margin-left:-10%;
    margin-right:-10%;
    /* outline:8px solid var(--dgray3); */
    outline-offset:-8px;
  }

  .pop-up ~ .btn-close {
    border: none;
    -webkit-position:fixed;
    position:-webkit-fixed;
    position:fixed;
    width:100%;
    height:50px;
    margin:0;
    top:0;
    left:0;
    right:0;
    color:#fff;
    display:block;
    opacity:1;
    background:var(--dgray3);
    font-size:24px;
    z-index:1000;
    font-weight: bold;
    transition:all 0.3s ease;
  }

  .pop-up.is-visible ~ .btn-close {
    opacity:1;
    transition:all 0.3s ease;
  }

  .pop-up.is-visible ~ .btn-close:hover {
color:var(--blue);

  }

  .pop-up.is-visible img {
opacity:1;
filter:brightness(0.8);

}


  /*----------[ Media Queries ]-------------*/

  /*---------[ desktop ]----------*/

  @media screen and (min-width: 961px) {
    .pop-up {
      padding: 60px 40px;
      width:80%;
      margin-right:10%;
      margin-left:10%;
    }
  }



  /*---------[ laptop ]----------*/

  @media screen and (min-width: 641px) and (max-width: 960px) {
    .pop-up {
      padding: 40px 20px;
      width:90%;
      margin-right:5%;
      margin-left:5%;
    }
    }

  /*---------[ mobile ]----------*/

  @media screen and (min-width: 481px) and (max-width: 640px) {
    .pop-up {
      padding: 40px 20px;
      width:96%;
      margin-right:2%;
      margin-left:2%;
    }
    }

  /*---------[ small - old screens ]----------*/

  @media screen and (max-width: 480px) {
    .pop-up {
      padding: 40px 20px;
      width:100%;
    }
    }


/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
