
#home {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:0;
    height: 100vh;
    overflow: hidden;
}

#home .page {

  width:100%;
  height:100vh;
  margin:0;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-attachment: fixed;
}

#home header {
position:absolute;
width:100vw;
height:100vh;
mix-blend-mode:hard-mix;
background-size: 200px;
background-image:url(../img/site/noise.png);
background-repeat:repeat;
background-attachment: fixed;
background-position: center center;
opacity:0.4;
filter:brightness(0.6);
top:0;
right:0;
left:0;
display:block;
box-shadow:none;
}

#home .header {
background-size: 200px;
background-image:url(../img/site/dark-gray-tile.png);
background-repeat:repeat;
background-attachment: fixed;
background-position: center center;
mix-blend-mode: hard-mix;
}
#home .main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background:transparent;
    top:0;
}


/*----------[ Media Queries ]-------------*/

/*---------[ most devices ]----------*/

@media screen and (min-width: 481px) {

  .main {
    width: 100vw;
    margin: 0;
    margin-bottom: 60px;
  }
}

.bg--lined-thin {
    position: absolute;
display:block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index:1;
    background: linear-gradient(to bottom, rgba(0, 35, 30, 0.2) 50%, rgba(0, 30, 37, 0.4) 51%);
    mix-blend-mode: multiply;
    background-size: 100% 4px;
    background-repeat:repeat-y;
}
.letters {
    width: 300px;
    height: 300px;
    opacity:0.8;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
    position: fixed;

}
.letters, .letter {
    position:absolute;
    font-weight: lighter;
    transform-origin: 50% 50%;
    -webkit-animation-name: circleAround;
    animation-name: circleAround;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    mix-blend-mode: screen;
}

.letters {
-webkit-animation-duration: 30s;
animation-duration: 30s;
-webkit-animation-direction: alternate-reverse;
animation-direction: alternate-reverse;
}


.letter {
-webkit-animation-duration: 30s;
animation-duration: 30s;
-webkit-animation-direction: normal;
animation-direction: normal;
}

.letter--blue {
    font-size: 8vh;
    color: #2095a5;
    margin:80%;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}
.letter--yellow {
    font-size: 12vh;
    color: #fdce54;
    margin-left:80%;
    /* margin-left:100px; */
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}
.letter--red {
    font-size: 10vh;
    color: #bc482f;
    margin-bottom:80%;
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    animation-delay: -4s;
}

.fx--scrumbled {
    height: 30px;
    width: 80vw;
    left:50%;
    margin-left:-40vw;
    top:60vh;
    position:absolute;
    text-align:center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition:all 1s ease;
    z-index:30;
}
.fx--scrumbled .scrumble {
    color: #084055;
    background:#111416;
}
.fx--scrumbled .text {
    font-weight: 600;
    font-size: 1.2rem;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase;
    color: #246e88;
}

.fx-text-flicker-blue {
display:flex;
color:rgba(0, 30, 37, 1);
justify-content: space-evenly;
width:200px;
}

.fx-text-flicker-blue span {
  position:relative;
font-size:6rem;
letter-spacing: 4px;
color:rgba(0, 30, 37, 1);
z-index:6;
mix-blend-mode: multiply;

}
.fx-text-flicker-blue span:nth-child(odd) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear infinite;
	animation: flicker-blue 10s linear infinite;
}

.fx-text-flicker-blue span:nth-child(even) {
	/* color: #fff; */
	-webkit-animation: flicker-blue 10s linear 3s infinite;
	animation: flicker-blue 10s linear 3s infinite;
}

@-webkit-keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8),
			1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.8),
			1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #03d1ec,
			0 0 15px #03d1ec, 0 0 2px #03d1ec, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}

@keyframes flicker-blue {
	0%,
	19.999%,
	25%,
	62.999%,
	63.5%,
	64.999%,
	70%,
	100% {
		opacity: 1;
    color:#fff;
		text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
			1px -1px 0 rgba(255, 255, 255, 0.8), -1px 1px 0 rgba(255, 255, 255, 0.5),
			1px 1px 0 rgba(255, 255, 255, 0.8), 0 -2px 8px, 0 0 2px, 0 0 5px #2095a5,
			0 0 15px #2095a5, 0 0 2px #000, 0 2px 3px #fff;
	}
	20%,
	21.999%,
	63.7%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
		text-shadow: none;
    color:rgba(0, 30, 37, 1);

	}
}


@-webkit-keyframes circleAround {
    0% {
        -webkit-transform: translate(0px) rotate(0deg);
        transform: translate(0px) rotate(0deg);
   }
    100% {
        -webkit-transform: translate(0px) rotate(360deg);
        transform: translate(0px) rotate(360deg);
   }
}
@keyframes circleAround {
    0% {
        -webkit-transform: translate(0px) rotate(0deg);
        transform: translate(0px) rotate(0deg);
   }
    100% {
        -webkit-transform: translate(0px) rotate(360deg);
        transform: translate(0px) rotate(360deg);
   }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-2 18:29:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/*
 .focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
	        animation: focus-in-contract-bck 5s cubic-bezier(0.785, 0.135, 0.150, 0.860) both;
} */

/**
 * ----------------------------------------
 * @animation flicker-in-2
 * ----------------------------------------
 */

 .flicker-in-2 {
	-webkit-animation: flicker-in-2 2s linear both;
	        animation: flicker-in-2 2s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-2 18:43:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


@-webkit-keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3);
  }
  60.1% {
    opacity: 0;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.3), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
