@font-face {
    font-family:"Graphik";
    src:url("https://ahmadmorsy.github.io/fonts/Graphik-Light.woff2") format("woff2"),url("https://ahmadmorsy.github.io/fonts/Graphik-Light.woff") format("woff"),url("https://ahmadmorsy.github.io/fonts/Graphik-Light.otf") format("opentype");
    font-style:normal;font-weight:300;
}

@font-face {
    font-family:"Graphik";
    src:url("https://ahmadmorsy.github.io/fonts/Graphik-Regular.woff2") format("woff2"),url("https://ahmadmorsy.github.io/fonts/Graphik-Regular.woff") format("woff"),url("https://ahmadmorsy.github.io/fonts/Graphik-Regular.otf") format("opentype");
    font-style:normal;font-weight:500;
}

@font-face {
    font-family:"Graphik";
    src:url("https://ahmadmorsy.github.io/fonts/Graphik-Medium.woff2") format("woff2"),url("https://ahmadmorsy.github.io/fonts/Graphik-Medium.woff") format("woff"),url("https://ahmadmorsy.github.io/fonts/Graphik-Medium.otf") format("opentype");
    font-style:normal;font-weight:700;
}

body, html {
  font-family: "Graphik",sans-serif; }
*,*:before,*:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
